@charset "utf-8";
/* CSS Document */

body{
	margin:0px;
	font-family: 'Lato', sans-serif;
}

.container p,
.container li {
    font-size: 1.25em;
}

/* Navbar */

.navbar {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar .navbar-nav > .active > a {
    background: none;
    color: #00ADEF;
}

.navbar-nav > li > a {
    font-weight: normal;
    text-decoration:none;
    color:#000;
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    font-size: 14px;
    height: 100%;
    padding-top: 23px;
}

.navbar-nav > li {
    padding: 0;
    vertical-align: baseline;
}

#main_nav_cont{
    width:100%;
    height:69px;
    background: #eeeeee;
}

#nav_cont{
    width:950px;
    height:84px;
    margin:0px auto;
}

#nav_cont ul{
    margin:0px;
    padding:0px;
    list-style:none;
    margin-left: 12px;
}

#nav_cont ul li{
    float:left;
    font-weight:700;
    font-size:24px;
    line-height:63px;
    text-align:center;
}

#nav_cont ul li a{
    float:left;
    padding:0px 34px;
    text-decoration:none;
    color:#3b3b3b;
    display:block;
    font-family:'Montserrat', sans-serif;
    font-size: 21px;
}

#nav_cont ul li a:hover, #nav_cont ul li.active a{
    border-bottom: #267FFF thick solid;
}

/*******/

li {
    line-height: inherit;
}

ol.para li {
    margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: #4299CE;
}

.accelimages{
	width:350px;
	float:left;	
	font-size:18px;
	height:auto;
	color:#5d5d5c;
}

a:hover {
	text-decoration: underline;
}

.jumbotron {
    background: none;
}

.jumbotron h1 {
   font-family: "Fjalla One", sans-serif;
    text-transform: uppercase;
    font-size: 80px;
    line-height: 1.5;
    text-align: center;
    color: #00ADEF;
}

.jumbotron h2 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #666;
}

h1{
	font-size:37px;
	color:#3b3b3b;	
	font-family:"Montserrat", sans-serif;
    text-transform: uppercase   ;
	font-weight: normal;
	text-align: center;
	padding-bottom: 10px;
}

h2{
	font-size:28px;
	color:#00ADEF;
	font-weight:700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h3.ribbon{
	font-size:30px;
	color:#fff;
	font-weight:normal;
	text-align:center;
	height:61px;
	padding-top:3px;
	line-height: 43px;
	background:url(../images/heading.png) center -2px no-repeat;
}

h4 {
	font-size: 28px;
	font-weight: 700;
	color: #c91f3d;
	margin-bottom: 20px;
}

h5 {
	font-size:28px;
	font-weight:normal;	
}

h5 a{
	text-decoration:none;
	color:#3b3b3b;	
}

ul{
	margin:0px;
	padding:0px;
	list-style:none;	
}

#header{
	width:100%;
	height:141px;
    background-color: #FFE50D;
}

#header_logo_cont{
	width:870px;
	height:141px;
	margin:0px auto;
	text-align:center;	
}

#banner_cont{
	width:100%;
	height:420px;
	position:relative;
    background-color: #267FFF;
}

#banner_bg{
	width:100%;
	height:420px;
	position:relative;
}

#banner_txt{
	width:870px;
	height:400px;
	margin:0px auto;
	text-align:right;
	padding:30px 0px;
    background: url(../images/SF-City-Hall.png) no-repeat;
    background-position: 0 64px;
}

.top_cufon{
	font-size:5em;
	line-height:1.25;
	color:#fff;
	font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-weight: 700;
	text-shadow:8px 7px 8px #13407F;
	-moz-text-shadow:8px 7px 8px #13407F;
	-webkit-text-shadow:8px 7px 8px #13407F;
}

.cufon{	
	margin-top:5px;
}

.banner_des{
	font-size:25px;
	font-weight:400;
	color:#fff;	
	float:right;
	margin-right:4px;
	margin-top:3px;
}

.button {
	width:240px;
	height:65px;
	font-size: 28px;
	font-family: 'lato', 'Helvetica Neue', 'Helvetica Neue Medium', 'HelveticaNeue LT 65 Medium';;
	text-align:center;
	font-weight:bold;
	cursor:pointer;	
	clear:both;
	color: #333333;
	margin-top:20px;
	margin-right:4px;
	background: #FFEE59;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #FFE50D;
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}

.button:hover {
	width:240px;
	height:65px;
	font-size: 28px;
	font-family: 'lato', 'Helvetica Neue', 'Helvetica Neue Medium', 'HelveticaNeue LT 65 Medium';;
	text-align:center;
	font-weight:bold;
	cursor:pointer;	
	clear:both;
	color: #333333;
	margin-top:20px;
	margin-right:4px;
	background: #FFE50D;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #FFE50D;
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}

#wrapper{
	float:left;
	width:100%;
	height:auto;
	margin-top:72px; /* need to account for the size of the nav */
}

#main_container{
	margin:20px auto 0px;
	width:870px;
	height:auto;
}

.main_cont{
	width:850px;
	height:auto;
	float:left;	
	padding:0px 10px;
	line-height: 26px;
}
.main_conta{
	width:650px;
	height:auto;
	float:none;	
	padding:0px 10px;
	line-height: 26px;
	text-align: center;
}

.cufon_head{
	font-size:70px;
	line-height:60px;
	color:#fff;
	margin-top:10px;
}

.top_art_cont{
	width:850px;
	float:left;	
	font-size:18px;
	height:auto;
	color:#5d5d5c;
}

.left_art{
	float:left;
	width:470px;
	font-weight:normal;
	color:#5d5d5c;	
	margin-bottom: 25px;
}

.spend_cont{
	width:305px;
	float:right;
	padding-top: 10px;
	
}

.spend_top{
	float:left;
	width:305px;
	height:63px;
	color:#63c6d3;
	border-bottom:1px solid #afafb2;	
}
.spend_topleft{
	float: left;
	font-size: 9px;
	padding-top: 30px;
	font-style: italic;
}

.spend_topleft a {
	color: #5d5d5c;

}

.imgclass{
	padding-right: 2px;
	padding-left: 3px;
}

.spend_middle{
	float:left;	
	height:188px;
	width:305px;	
	color:#606062;
	font-size:16px;
}

.spend_bottom{
	float:left;
	width:305px;
	height:52px;
	text-align:right;
	color:#55c2d0;
	font-size:16px;	
	border-top:1px solid #afafb2;
	padding-top:10px;
}

.redAm{
	font-size:20px;
	color:#d40949;
}

.bottom_art_cont{
	float:left;
	width:850px;
	height:auto;	
}

.bottom_art_cont .cufon{
	margin-top:0px;	
}

.bottom_art_cont li p{
	display:list-item;
	font-size:20px;
	color:#5d5d5c;
	margin-top:5px;
}

.bottom_art_cont li{
	padding-left:60px;	
}

.liImg1{
	background:url(../images/accelerator_cfa_03.png) left top no-repeat;	
}

.liImg2{
	background:url(../images/accelerator_cfa_06.png) left top no-repeat;	
}

.liImg3{
	background:url(../images/accelerator_cfa_08.png) left top no-repeat;	
}

.redli{	
	font-size:26px;
	color:#d40949;	
}

#footer {
    background: #0076A2;
}

#footer .container {
    text-align: center;
}

.divider {
	float:left;
	width:100%;
	height:60px;
	background:url(../images/finishing_line.png) center no-repeat;
	margin:0px 0px 15px;	
}


blockquote {
    font-size: 2em;
    background:#f9f9f9;
    border-left:10px solid #ccc;
    margin:1.5em 10px;
    padding:.5em 10px;
    quotes:"\201C""\201D""\2018""\2019";
}
blockquote:before {
    color:#ccc;
    content:open-quote;
    font-size:4em;
    line-height:.1em;
    margin-right:.25em;
    vertical-align:-.4em;
}
blockquote p {
    display:inline;
}

.source {
    font-size: .7em;
    float: right;
    margin-top: 20px;
    font-style: italic;
}

.bqstart {
    font-family: Arial, sans-serif;
    float: left;
    height: 45px;
    margin-top: -20px;
    padding-top: 45px;
    margin-bottom: -50px;
    font-size: 700%;
    color: #267FFF;
}

.bqend {
    font-family: Arial, sans-serif;
    float: right;
    height: 25px;
    margin-top: 0px;
    padding-top: 45px;
    font-size: 700%;
    color: #267FFF;
}
.program_cont ul{
	margin-left:20px;
	padding:0px;
	list-style:disc;	
}

.program_cont ul li{
	font-size:20px;
	color:#5d5d5c;
	margin-bottom:10px;
}

.program_cont ul li .cufon{
	margin-top:0px;	
	*margin-top: 8px; /* IE 7 and below */
   _margin-top/**/: 10px; /* IE 5.0 */
   _margin-top:/**/ 10px; /* IE 5.5 only */
   _margin-top/**/:/**/ 10px; /* IE 6 only */
}

.program_cont p{
	margin: 0px;
	padding-bottom: 20px;
}

.proof_cont{
	text-align:center;
	float:left;
	width:100%;
	height:auto;	
}

.proof_cont img{
	margin:8px 10px;
}

img.advisoricons{
	vertical-align: -17px;
}

.advisorimages{
	clear: both;
	height: 150px;
}

.advisorimages div{
	text-align: center;
	margin: auto;
	width: 770px;
}

.advisorimages li{
	float: left;
	background: #ffffff;
}

.advisorimages img{
	margin: 8px 0px 2px 8px;
	width: 100px;
}

.advisorimages li:last-child img{
	margin-right: 8px;
}

.team_li_cont{
	float:left;
	width:283px;
	height:auto;
	text-align:center;
}

.team_logo{
	width:100%;
	height:108px;
	text-align:center;	
}

.team_li_cont h4{
	margin:5px 0px 15px;	
	font-weight:normal;
}

.team_li_cont li{
	color: #5D5D5C;
	font-size:  18px;
	line-height: 2em;

}

.faq_h h1{
	margin-bottom:0px;	
}

#faq p.answers{
	font-size: 17px;
	line-height: 26px;
	padding-bottom: 15px;
}

#sponsors{
	padding: 30px 10px 75px 10px;
	margin: 0 auto;
}

#sponsors img {
	float: left;
	padding: 10px 25px;
	margin-left: auto;  
	margin-right: auto;
}

#footer_cont{
	float:left;
	width:100%;
	background:#2680FF;
	text-align: center;
}

#footer_cont p{
	text-align: center;
	font-size: 48px;
	font-family: 'Pacifico';
	color: #ffffff;
	margin: auto;
	padding-top: 25px;
}

.program_cont{
	width:850px;
	float:left;	
	height:auto;
	color:#5d5d5c;
}

#application {
	overflow: hidden;
}

#application #wrapper {
	margin-top: 0px;
}

#information {
	overflow: hidden;
}

.program-summary {
 text-align: center;
}

.program-summary p {
    font-size: 1.1em;
}
